@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #111;
  --foreground: #d1d5db;
}

body {
  /* padding: 1rem; */
  color: var(--foreground);
  background: var(--background);
}

